
<h2> Proyectos Personales</h2>
<hr>

    <div class="portfolio__grid">
        <div class="portfolio__item">
            <img src="image.png" alt="Imagen del proyecto">
            <h3>Nombre del proyecto 1</h3>
            <p>Descripcion del proyecto</p>
            <a href="#"> Ir al proyecto</a>
        </div>
        <div class="portfolio__item">
            <img src="image.png" alt="Imagen del proyecto">
            <h3>Nombre del proyecto 2</h3>
            <p>Descripcion del proyecto</p>
            <a href="#"> Ir al proyecto</a>
        </div>
        <div class="portfolio__item">
            <img src="image.png" alt="Imagen del proyecto">
            <h3>Nombre del proyecto 3</h3>
            <p>Descripcion del proyecto</p>
            <a href="#"> Ir al proyecto</a>
        </div>
</div>

