<header>
    <div class="header__main">
        <img class="header__img" src="../../../assets/img/LogoBasico.png" alt="Logo JPR">
        <h1 class="header__main--text">
           Juan Pablo Rodriguez <span class="header__main--title"> Full stack Developer Jr.</span> 
        </h1>
    </div>
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__li"><a href="/about-me" class="header__a">Sobre mi</a></li>
            <li class="header__li"><a href="/projects" class="header__a">Proyectos</a></li>
            <li class="header__li"><a href="/contact" class="header__a">Contacto</a></li>
        </ul>
    </nav>
</header>