<section class="about" id="about">
    <h2 class="about__title">Informacion Personal</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eius sit! Quibusdam et blanditiis numquam accusamus praesentium quasi neque, dolore explicabo quidem quis ipsam ipsa repellendus, nobis, omnis laborum libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod autem sit harum aperiam accusamus voluptatum laborum quis error, suscipit iusto modi doloremque magnam possimus omnis perferendis atque sed aliquid reprehenderit!
    </p>
</section>